<%- include('../layouts/header.ejs') %> <%- include('../layouts/navigation.ejs')
%>

<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
  .colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(
      left,
      #c4e17f,
      #c4e17f 12.5%,
      #f7fdca 12.5%,
      #f7fdca 25%,
      #fecf71 25%,
      #fecf71 37.5%,
      #f0776c 37.5%,
      #f0776c 50%,
      #db9dbe 50%,
      #db9dbe 62.5%,
      #c49cde 62.5%,
      #c49cde 75%,
      #669ae1 75%,
      #669ae1 87.5%,
      #62c2e4 87.5%,
      #62c2e4
    );
    background-image: -moz-linear-gradient(
      left,
      #c4e17f,
      #c4e17f 12.5%,
      #f7fdca 12.5%,
      #f7fdca 25%,
      #fecf71 25%,
      #fecf71 37.5%,
      #f0776c 37.5%,
      #f0776c 50%,
      #db9dbe 50%,
      #db9dbe 62.5%,
      #c49cde 62.5%,
      #c49cde 75%,
      #669ae1 75%,
      #669ae1 87.5%,
      #62c2e4 87.5%,
      #62c2e4
    );
    background-image: -o-linear-gradient(
      left,
      #c4e17f,
      #c4e17f 12.5%,
      #f7fdca 12.5%,
      #f7fdca 25%,
      #fecf71 25%,
      #fecf71 37.5%,
      #f0776c 37.5%,
      #f0776c 50%,
      #db9dbe 50%,
      #db9dbe 62.5%,
      #c49cde 62.5%,
      #c49cde 75%,
      #669ae1 75%,
      #669ae1 87.5%,
      #62c2e4 87.5%,
      #62c2e4
    );
    background-image: linear-gradient(
      to right,
      #c4e17f,
      #c4e17f 12.5%,
      #f7fdca 12.5%,
      #f7fdca 25%,
      #fecf71 25%,
      #fecf71 37.5%,
      #f0776c 37.5%,
      #f0776c 50%,
      #db9dbe 50%,
      #db9dbe 62.5%,
      #c49cde 62.5%,
      #c49cde 75%,
      #669ae1 75%,
      #669ae1 87.5%,
      #62c2e4 87.5%,
      #62c2e4
    );
  }
</style>

<div class="container">
  <div class="row" style="margin-top: 20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form>
        <h2>Sign Up</h2>
        <hr class="colorgraph" />
        <div class="form-group">
          <input
            type="text"
            id="name"
            class="form-control input-lg"
            placeholder="Your Name"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            name="email"
            id="email"
            class="form-control input-lg"
            placeholder="Email Address"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            name="password"
            id="password"
            class="form-control input-lg"
            placeholder="Password"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            name="password"
            id="repeat-password"
            class="form-control input-lg"
            placeholder="Repeat Password"
          />
        </div>
        <span class="button-checkbox">
          <a href="" class="btn btn-link pull-right">Forgot Password?</a>
        </span>
        <hr class="colorgraph" />
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <a href="#" id="Register" class="btn btn-lg btn-primary btn-block"
              >Register</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  // Gửi Data
  $("#Register").on("click", function () {
    $.ajax({
      type: "POST",
      dataType: "JSON",
      url: "/postCreateUser",
      data: {
        type: "Register",
        name: $("#name").val(),
        password: $("#password").val(),
        repassword: $("#repeat-password").val(),
        email: $("#email").val(),
      },
      success: function (res) {
        Swal.fire({
          icon: res.status === true ? "success" : "error",
          title: "Thông Báo",
          text: res.message,
        }).then((result) => {
          if (res.status === true) {
            window.location.href = "/login";
          } else {
            window.location.href = "/register";
          }
        });
      },
      error: function (xhr, status, error) {
        console.error(error);
      },
    });
  });
</script>
